
@{
    ViewBag.Title = "Management";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li>@Html.ActionLink("Profiles", "Index", "ProfileManagement")</li>
    <li>@Html.ActionLink("Stocks", "Index", "StockManagement")</li>
</ul>


<table>
    <tr>
        <th>
            <span>text 1</span>
        </th>
        <th>
            <span>text 2</span>
        </th>
    </tr>
    <tr>
        <td>
            <input type="text" value="text" />
        </td>
        <td>
            <input type="text" value="text 2" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" value="text" />
        </td>
        <td>
            <input type="text" value="text 2" />
        </td>
    </tr>
</table>